In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [3]:
os.getcwd()

'c:\\Users\\tmdal\\ls_quant1\\week3\\2025.08_LS_Quant_1\\week4'

In [5]:
dir = os.getcwd()
os.listdir(dir+'/data')

['bsi_inv.csv',
 'commodity.csv',
 'durable.csv',
 'employ.csv',
 'export.csv',
 'ipi.csv',
 'manu_spread.csv',
 'oecd_cli_aus.csv',
 'oecd_cli_bra.csv',
 'oecd_cli_can.csv',
 'oecd_cli_chn.csv',
 'oecd_cli_esp.csv',
 'oecd_cli_frc.csv',
 'oecd_cli_g20.csv',
 'oecd_cli_g7.csv',
 'oecd_cli_ger.csv',
 'oecd_cli_idn.csv',
 'oecd_cli_ind.csv',
 'oecd_cli_ita.csv',
 'oecd_cli_jap.csv',
 'oecd_cli_kor.csv',
 'oecd_cli_mex.csv',
 'oecd_cli_nafta.csv',
 'oecd_cli_tur.csv',
 'oecd_cli_uk.csv',
 'oecd_cli_usa.csv',
 'yield_spread.csv']

In [6]:
bsi_inv = pd.read_csv(dir + '/data/bsi_inv.csv')

In [7]:
bsi_inv

          시점 설비투자전망BSI 5) 설비투자전망BSI 5).1
0         시점        대 기 업           중소기업
1    2003.02           99             98
2    2003.03           95             95
3    2003.04           87             91
4    2003.05           91             91
..       ...          ...            ...
267  2025.04           94             86
268  2025.05           94             86
269  2025.06           97             86
270  2025.07           95             87
271  2025.08           91             85

[272 rows x 3 columns]

In [8]:
bsi_inv = bsi_inv.iloc[1:]

In [11]:
# 날짜/BSI설비투자전망 대기업/BSI설비투자전망 중소기업
bsi_inv.columns = ['date', 'bsi_inv_big', 'bsi_inv_small']

In [12]:
bsi_inv.set_index('date', inplace=True)

In [13]:
bsi_inv

        bsi_inv_big bsi_inv_small
date
2003.02          99            98
2003.03          95            95
2003.04          87            91
2003.05          91            91
2003.06          87            90
...             ...           ...
2025.04          94            86
2025.05          94            86
2025.06          97            86
2025.07          95            87
2025.08          91            85

[271 rows x 2 columns]

In [14]:
os.listdir(dir+'/data')

['bsi_inv.csv',
 'commodity.csv',
 'durable.csv',
 'employ.csv',
 'export.csv',
 'ipi.csv',
 'manu_spread.csv',
 'oecd_cli_aus.csv',
 'oecd_cli_bra.csv',
 'oecd_cli_can.csv',
 'oecd_cli_chn.csv',
 'oecd_cli_esp.csv',
 'oecd_cli_frc.csv',
 'oecd_cli_g20.csv',
 'oecd_cli_g7.csv',
 'oecd_cli_ger.csv',
 'oecd_cli_idn.csv',
 'oecd_cli_ind.csv',
 'oecd_cli_ita.csv',
 'oecd_cli_jap.csv',
 'oecd_cli_kor.csv',
 'oecd_cli_mex.csv',
 'oecd_cli_nafta.csv',
 'oecd_cli_tur.csv',
 'oecd_cli_uk.csv',
 'oecd_cli_usa.csv',
 'yield_spread.csv']

In [19]:
comm = pd.read_csv(dir + '/data/commodity.csv')
comm.dropna(inplace=True)

In [20]:
comm

          변환    원자료  원자료.1   원자료.2     원자료.3     원자료.4
36   1990/01  22.60  17.50   14.05  2,365.56    409.82
37   1990/02  22.20  16.68   14.05  2,358.94    417.18
38   1990/03  20.44  15.76   14.05  2,625.70    392.70
39   1990/04  18.53  14.25   14.05  2,685.23    374.29
40   1990/05  18.44  14.65   14.05  2,740.34    369.20
..       ...    ...    ...     ...       ...       ...
457  2025/02  71.54  76.32  108.20  9,330.98  2,894.38
458  2025/03  68.24  72.98  103.65  9,735.82  2,986.26
459  2025/04  63.61  68.49  100.91  9,172.70  3,222.01
460  2025/05  62.20  63.61  100.27  9,531.20  3,288.01
461  2025/06  68.54  69.36   96.17  9,835.07  3,351.86

[426 rows x 6 columns]

In [21]:
# 날짜(date)/wti/dubai/철광석/구리/금
comm.columns = ['date', 'wti', 'dubai', 'iron', 'copper', 'gold']

In [22]:
comm.set_index('date', inplace=True)

In [24]:
comm.info()

<class 'pandas.core.frame.DataFrame'>
Index: 426 entries, 1990/01 to 2025/06
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   wti     426 non-null    float64
 1   dubai   426 non-null    float64
 2   iron    426 non-null    float64
 3   copper  426 non-null    object
 4   gold    426 non-null    object
dtypes: float64(3), object(2)
memory usage: 36.1+ KB

In [30]:
comm['copper'] = comm['copper'].str.replace(',', '').astype('float')

In [31]:
comm['gold'] = comm['gold'].str.replace(',', '').astype('float')

In [32]:
comm.info()

<class 'pandas.core.frame.DataFrame'>
Index: 426 entries, 1990/01 to 2025/06
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   wti     426 non-null    float64
 1   dubai   426 non-null    float64
 2   iron    426 non-null    float64
 3   copper  426 non-null    float64
 4   gold    426 non-null    float64
dtypes: float64(5)
memory usage: 36.1+ KB

In [34]:
os.listdir(dir + '/data')

['bsi_inv.csv',
 'commodity.csv',
 'durable.csv',
 'employ.csv',
 'export.csv',
 'ipi.csv',
 'manu_spread.csv',
 'oecd_cli_aus.csv',
 'oecd_cli_bra.csv',
 'oecd_cli_can.csv',
 'oecd_cli_chn.csv',
 'oecd_cli_esp.csv',
 'oecd_cli_frc.csv',
 'oecd_cli_g20.csv',
 'oecd_cli_g7.csv',
 'oecd_cli_ger.csv',
 'oecd_cli_idn.csv',
 'oecd_cli_ind.csv',
 'oecd_cli_ita.csv',
 'oecd_cli_jap.csv',
 'oecd_cli_kor.csv',
 'oecd_cli_mex.csv',
 'oecd_cli_nafta.csv',
 'oecd_cli_tur.csv',
 'oecd_cli_uk.csv',
 'oecd_cli_usa.csv',
 'yield_spread.csv']

In [44]:
dur = pd.read_csv(dir + '/data/durable.csv')

In [45]:
dur['시점'].iloc[-2:] = ['2025.05', '2025.06']

C:\Users\tmdal\AppData\Local\Temp\ipykernel_24572\4005282206.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dur['시점'].iloc[-2:] = ['2025.05', '2025.06']
C:\Users\tmdal\AppData\Local\Temp\ipykernel_24572\4005282206.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dur['시점'].iloc[-2:] = ['2025.05', '2025.06']

In [46]:
# 시점: date, 계절조정지수: durable
dur.columns = ['date', 'drop', 'durable']

In [47]:
dur.drop(columns='drop', inplace=True)

In [49]:
dur.set_index('date', inplace=True)

In [50]:
dur

         durable
date
1995.01     26.3
1995.02     25.8
1995.03     26.0
1995.04     26.7
1995.05     24.7
...          ...
2025.02    110.6
2025.03    100.7
2025.04     99.1
2025.05    100.5
2025.06     98.9

[366 rows x 1 columns]

In [51]:
os.listdir(dir+'/data')

['bsi_inv.csv',
 'commodity.csv',
 'durable.csv',
 'employ.csv',
 'export.csv',
 'ipi.csv',
 'manu_spread.csv',
 'oecd_cli_aus.csv',
 'oecd_cli_bra.csv',
 'oecd_cli_can.csv',
 'oecd_cli_chn.csv',
 'oecd_cli_esp.csv',
 'oecd_cli_frc.csv',
 'oecd_cli_g20.csv',
 'oecd_cli_g7.csv',
 'oecd_cli_ger.csv',
 'oecd_cli_idn.csv',
 'oecd_cli_ind.csv',
 'oecd_cli_ita.csv',
 'oecd_cli_jap.csv',
 'oecd_cli_kor.csv',
 'oecd_cli_mex.csv',
 'oecd_cli_nafta.csv',
 'oecd_cli_tur.csv',
 'oecd_cli_uk.csv',
 'oecd_cli_usa.csv',
 'yield_spread.csv']

In [52]:
employ = pd.read_csv(dir + '/data/employ.csv')

In [54]:
employ = employ.iloc[1:]

In [56]:
#시점: date, 계: employ
employ.columns = ['date', 'employ']

In [58]:
employ.set_index('date', inplace=True)

In [59]:
employ

        employ
date
1999.06   56.8
1999.07   56.7
1999.08   57.3
1999.09   58.0
1999.10   58.2
...        ...
2025.03   63.0
2025.04   63.1
2025.05   62.9
2025.06   62.8
2025.07   62.8

[314 rows x 1 columns]

In [60]:
os.listdir(dir+'/data')

['bsi_inv.csv',
 'commodity.csv',
 'durable.csv',
 'employ.csv',
 'export.csv',
 'ipi.csv',
 'manu_spread.csv',
 'oecd_cli_aus.csv',
 'oecd_cli_bra.csv',
 'oecd_cli_can.csv',
 'oecd_cli_chn.csv',
 'oecd_cli_esp.csv',
 'oecd_cli_frc.csv',
 'oecd_cli_g20.csv',
 'oecd_cli_g7.csv',
 'oecd_cli_ger.csv',
 'oecd_cli_idn.csv',
 'oecd_cli_ind.csv',
 'oecd_cli_ita.csv',
 'oecd_cli_jap.csv',
 'oecd_cli_kor.csv',
 'oecd_cli_mex.csv',
 'oecd_cli_nafta.csv',
 'oecd_cli_tur.csv',
 'oecd_cli_uk.csv',
 'oecd_cli_usa.csv',
 'yield_spread.csv']

In [62]:
ipi = pd.read_csv(dir+'/data/ipi.csv', encoding='CP949')

In [64]:
ipi['시점'].iloc[-2:] = ['2025.05', '2025.06']

C:\Users\tmdal\AppData\Local\Temp\ipykernel_24572\3607048812.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  ipi['시점'].iloc[-2:] = ['2025.05', '2025.06']
C:\Users\tmdal\AppData\Local\Temp\ipykernel_24572\3607048812.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipi['시점'].iloc[-2:] = ['2025.05', '2025.06']

In [66]:
# 시점: date, 전산업생산지수: ipi
ipi.columns = ['date', 'ipi']
ipi.set_index('date', inplace=True)

In [67]:
ipi

           ipi
date
2000.01   52.5
2000.02   52.6
2000.03   53.6
2000.04   53.4
2000.05   54.9
...        ...
2025.02  113.4
2025.03  114.6
2025.04  113.8
2025.05  112.5
2025.06  113.8

[306 rows x 1 columns]

In [68]:
os.listdir(dir + '/data')

['bsi_inv.csv',
 'commodity.csv',
 'durable.csv',
 'employ.csv',
 'export.csv',
 'ipi.csv',
 'manu_spread.csv',
 'oecd_cli_aus.csv',
 'oecd_cli_bra.csv',
 'oecd_cli_can.csv',
 'oecd_cli_chn.csv',
 'oecd_cli_esp.csv',
 'oecd_cli_frc.csv',
 'oecd_cli_g20.csv',
 'oecd_cli_g7.csv',
 'oecd_cli_ger.csv',
 'oecd_cli_idn.csv',
 'oecd_cli_ind.csv',
 'oecd_cli_ita.csv',
 'oecd_cli_jap.csv',
 'oecd_cli_kor.csv',
 'oecd_cli_mex.csv',
 'oecd_cli_nafta.csv',
 'oecd_cli_tur.csv',
 'oecd_cli_uk.csv',
 'oecd_cli_usa.csv',
 'yield_spread.csv']

In [70]:
manu_spd = pd.read_csv(dir + '/data/manu_spread.csv')

In [72]:
manu_spd

             시점                전국              전국.1
0            시점               제조업               제조업
1            시점  생산자제품 출하지수(계절조정)  생산자제품 재고지수(계절조정)
2       1975.01                 -                 -
3       1975.02                 -                 -
4       1975.03                 -                 -
..          ...               ...               ...
603     2025.02              99.9             106.6
604     2025.03             100.9             104.1
605     2025.04             101.8             104.0
606  2025.05 p)              99.8             104.0
607  2025.06 p)             101.6             104.2

[608 rows x 3 columns]

In [73]:
manu_spd = manu_spd.iloc[2:]

In [75]:
# 시점: date / 출하지수: shipment / 재고재수: inven
manu_spd.columns = ['date', 'shipment', 'inven']

In [79]:
manu_spd['date'].iloc[-2:] = ['2025.05', '2025.06']

C:\Users\tmdal\AppData\Local\Temp\ipykernel_24572\2721460796.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  manu_spd['date'].iloc[-2:] = ['2025.05', '2025.06']
C:\Users\tmdal\AppData\Local\Temp\ipykernel_24572\2721460796.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  manu_spd['date'].iloc[-2:] = ['2025.05', '2025.06']

In [82]:
manu_spd.set_index('date', inplace=True)

In [83]:
manu_spd

        shipment  inven
date
1975.01        -      -
1975.02        -      -
1975.03        -      -
1975.04        -      -
1975.05        -      -
...          ...    ...
2025.02     99.9  106.6
2025.03    100.9  104.1
2025.04    101.8  104.0
2025.05     99.8  104.0
2025.06    101.6  104.2

[606 rows x 2 columns]

In [84]:
os.listdir(dir+'/data')

['bsi_inv.csv',
 'commodity.csv',
 'durable.csv',
 'employ.csv',
 'export.csv',
 'ipi.csv',
 'manu_spread.csv',
 'oecd_cli_aus.csv',
 'oecd_cli_bra.csv',
 'oecd_cli_can.csv',
 'oecd_cli_chn.csv',
 'oecd_cli_esp.csv',
 'oecd_cli_frc.csv',
 'oecd_cli_g20.csv',
 'oecd_cli_g7.csv',
 'oecd_cli_ger.csv',
 'oecd_cli_idn.csv',
 'oecd_cli_ind.csv',
 'oecd_cli_ita.csv',
 'oecd_cli_jap.csv',
 'oecd_cli_kor.csv',
 'oecd_cli_mex.csv',
 'oecd_cli_nafta.csv',
 'oecd_cli_tur.csv',
 'oecd_cli_uk.csv',
 'oecd_cli_usa.csv',
 'yield_spread.csv']

In [85]:
y_spd = pd.read_csv(dir+'/data/yield_spread.csv')

In [87]:
#변환: date, 10년물 10y, 3년물: 3y
y_spd.columns = ['date', '3y', '10y']

In [88]:
y_spd.set_index('date', inplace=True)

In [89]:
y_spd

            3y    10y
date
1987/01    NaN    NaN
1987/02    NaN    NaN
1987/03    NaN    NaN
1987/04    NaN    NaN
1987/05    NaN    NaN
...        ...    ...
2025/03  2.590  2.795
2025/04  2.395  2.658
2025/05  2.331  2.710
2025/06  2.441  2.842
2025/07  2.465  2.840

[463 rows x 2 columns]

In [92]:
y_spd.index

Index(['1987/01', '1987/02', '1987/03', '1987/04', '1987/05', '1987/06',
       '1987/07', '1987/08', '1987/09', '1987/10',
       ...
       '2024/10', '2024/11', '2024/12', '2025/01', '2025/02', '2025/03',
       '2025/04', '2025/05', '2025/06', '2025/07'],
      dtype='object', name='date', length=463)

In [95]:
y_spd.index = pd.to_datetime(y_spd.index)

C:\Users\tmdal\AppData\Local\Temp\ipykernel_24572\2291454449.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  y_spd.index = pd.to_datetime(y_spd.index)

In [96]:
manu_spd.index = pd.to_datetime(manu_spd.index)

C:\Users\tmdal\AppData\Local\Temp\ipykernel_24572\157257416.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  manu_spd.index = pd.to_datetime(manu_spd.index)

In [97]:
ipi.index = pd.to_datetime(ipi.index)

C:\Users\tmdal\AppData\Local\Temp\ipykernel_24572\1755448571.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ipi.index = pd.to_datetime(ipi.index)

In [98]:
employ.index = pd.to_datetime(employ.index)

C:\Users\tmdal\AppData\Local\Temp\ipykernel_24572\1152427311.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  employ.index = pd.to_datetime(employ.index)

In [99]:
dur.index = pd.to_datetime(dur.index)

C:\Users\tmdal\AppData\Local\Temp\ipykernel_24572\1811867070.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dur.index = pd.to_datetime(dur.index)

In [100]:
comm.index = pd.to_datetime(comm.index)

C:\Users\tmdal\AppData\Local\Temp\ipykernel_24572\1195058923.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  comm.index = pd.to_datetime(comm.index)

In [101]:
bsi_inv.index = pd.to_datetime(bsi_inv.index)

C:\Users\tmdal\AppData\Local\Temp\ipykernel_24572\761656239.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  bsi_inv.index = pd.to_datetime(bsi_inv.index)

In [121]:
dlist = [comm, dur, employ, ipi, y_spd, manu_spd]
temp = bsi_inv
for a in dlist:
    print(a.index)

DatetimeIndex(['1990-01-01', '1990-02-01', '1990-03-01', '1990-04-01',
               '1990-05-01', '1990-06-01', '1990-07-01', '1990-08-01',
               '1990-09-01', '1990-10-01',
               ...
               '2024-09-01', '2024-10-01', '2024-11-01', '2024-12-01',
               '2025-01-01', '2025-02-01', '2025-03-01', '2025-04-01',
               '2025-05-01', '2025-06-01'],
              dtype='datetime64[ns]', name='date', length=426, freq=None)
DatetimeIndex(['1995-01-01', '1995-02-01', '1995-03-01', '1995-04-01',
               '1995-05-01', '1995-06-01', '1995-07-01', '1995-08-01',
               '1995-09-01', '1995-10-01',
               ...
               '2024-09-01', '2024-10-01', '2024-11-01', '2024-12-01',
               '2025-01-01', '2025-02-01', '2025-03-01', '2025-04-01',
               '2025-05-01', '2025-06-01'],
              dtype='datetime64[ns]', name='date', length=366, freq=None)
DatetimeIndex(['1999-06-01', '1999-07-01', '1999-08-01', '1999-09-01',
               '1999-10-01', '1999-11-01', '1999-12-01', '2000-01-01',
               '2000-02-01', '2000-03-01',
               ...
               '2024-10-01', '2024-11-01', '2024-12-01', '2025-01-01',
               '2025-02-01', '2025-03-01', '2025-04-01', '2025-05-01',
               '2025-06-01', '2025-07-01'],
              dtype='datetime64[ns]', name='date', length=314, freq=None)
DatetimeIndex(['2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01',
               '2000-05-01', '2000-06-01', '2000-07-01', '2000-08-01',
               '2000-09-01', '2000-10-01',
               ...
               '2024-09-01', '2024-10-01', '2024-11-01', '2024-12-01',
               '2025-01-01', '2025-02-01', '2025-03-01', '2025-04-01',
               '2025-05-01', '2025-06-01'],
              dtype='datetime64[ns]', name='date', length=306, freq=None)
DatetimeIndex(['1987-01-01', '1987-02-01', '1987-03-01', '1987-04-01',
               '1987-05-01', '1987-06-01', '1987-07-01', '1987-08-01',
               '1987-09-01', '1987-10-01',
               ...
               '2024-10-01', '2024-11-01', '2024-12-01', '2025-01-01',
               '2025-02-01', '2025-03-01', '2025-04-01', '2025-05-01',
               '2025-06-01', '2025-07-01'],
              dtype='datetime64[ns]', name='date', length=463, freq=None)
DatetimeIndex(['1975-01-01', '1975-02-01', '1975-03-01', '1975-04-01',
               '1975-05-01', '1975-06-01', '1975-07-01', '1975-08-01',
               '1975-09-01', '1975-10-01',
               ...
               '2024-09-01', '2024-10-01', '2024-11-01', '2024-12-01',
               '2025-01-01', '2025-02-01', '2025-03-01', '2025-04-01',
               '2025-05-01', '2025-06-01'],
              dtype='datetime64[ns]', name='date', length=606, freq=None)

In [123]:
os.getcwd()

'c:\\Users\\tmdal\\ls_quant1\\week3\\2025.08_LS_Quant_1\\week4'

In [125]:
temp = bsi_inv.join(y_spd, how='outer')

In [126]:
temp = temp.join(manu_spd, how='outer')

In [135]:
temp = temp.join(comm, how='outer')

In [137]:
temp.to_csv(dir+'/data/merged.csv')